{% extends 'base.html.twig' %}
{% block title %}Patient Service{% endblock %}
{% block body %}
    {{ include('header.html.twig') }}
    <h1>Patient Service</h1>
    <div class="back"><a href="{{ path('patient_service_list', {id: data.patient_id}) }}">Back to list</a></div>
    <div class="container">
        {% if edit_action or delete_action %}
            <div class="btns">
                {% if edit_action %} <a href="{{ path('patient_service_edit', {id: data.id}) }}"><button class="btn btn-info">Edit</button></a>{% endif %}
                {% if  delete_action %}<a href="{{ path('patient_service_delete', {id: data.id}) }}"><button class="btn btn-danger">Remove</button></a>{% endif %}
            </div>
        {% endif %}
        <div>
            <div>
                <span class="bold">Patient Name:</span>
                <span>
                    <a href="{{ path('patient_homepage', {id: data.patient_id }) }}">{{ data.patient_name }}</a>
                </span>
            </div>
            <div>
                <span class="bold">Service:</span>
                <span>
                    <a href="{{ path('service_homepage', {id: data.service_id }) }}">{{ data.title }}</a>
                </span>
            </div>
            <div>
                <span class="bold">Date:</span>
                <span>{{ data.date }}</span>
            </div>
            <div>
                <span class="bold">Time:</span>
                <span>{{ data.time }}</span>
            </div>
            <div>
                <span class="bold">Doctor:</span>
                <span>{{ data.user_name }}</span>
            </div>
            <div>
                <span class="bold">Notes:</span>
                <span>{{ data.notes|default('Empty.')|raw  }}</span>
            </div>
            <div class="spacer" ></div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/manticora/patient/css/patient.css') }}"
{% endblock %}