{% block header %}
    <div class="header">
        <div class="dropdown col-sm-1">
            {% if user is defined %}
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('users_lists') }}">Users</a></li>
                <li><a href="{{ path('disease_list') }}">Diseases</a></li>
                <li><a href="{{ path('services_list') }}">Services</a></li>
                <li><a href="{{ path('patients_list') }}">Patients</a></li>
                <li><a href="{{ path('report_homepage') }}">Reports</a></li>
            </ul>
                {% endif %}
        </div>

        {% if user is defined and user.name  %}
            <div class="header-user col-sm-7">
                <a href="{{ path('lance_myaccount') }}">{{ user.name }} {{ user.secondName }}</a>
                <a href="{{ path('lance_logout') }}"><img class="header-button-off" src="{{ asset('vendor/lancer/img/logout.jpg') }}"></a>
            </div>
            <div class="col-sm-1"></div>
            {% else %}
            <div class="header-user col-sm-7"><a href="{{ path('lance_authorization') }}">Log In</a></div>
        {% endif %}
    </div>
{% endblock %}