{% extends 'base.html.twig' %}
{% block title %}Disease{% endblock %}
{% block body %}
    {{ include('header.html.twig') }}
    <h1>Disease</h1>
    <div class="back"><a href="{{ path('disease_list') }}">Back to list</a></div>
    <div class="container">
        {% if edit_action or delete_action%}
            <div class="btns">
                {% if edit_action %}<a href="{{ path('disease_edit', {id: disease.id}) }}"><button class="btn btn-info">Edit</button></a>{% endif %}
                {% if delete_action %}<a href="{{ path('disease_delete', {id: disease.id}) }}"><button class="btn btn-danger">Remove</button></a>{% endif %}
            </div>
        {% endif %}
        <div>
            <h2>{{ disease.title }}</h2>
        </div>
        <div>
            <img class="disease-img" src="{{ disease.photo }}" />
            <p>{{ disease.description | raw}}</p>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/manticora/disease/css/disease.css') }}"
{% endblock %}